
/** { /border: 1px solid black;/*/
/*}*/

.wrap {
    max-width: 1200px;
    min-width: 380px;
    margin: auto auto 30px auto;
}

.hero {
    background-color: darkgray;
    background-image: url("../static/background.jpg");
    background-position: top;
    background-size: revert;
}


.section {
    width: 600px;
    max-width: 100vw;
    margin: auto;
}

.login {
    display: block;
    margin: 20px 5vw 0 auto;

}

.hero-body {
    padding: 1rem 0.5rem 4rem 1.5rem;
}

.hero.is-medium .hero-body {
    padding: 1rem 1.5rem 5rem 1.5rem;
}

.title {
    font-size: 3.5rem;
    font-family: 'Hi Melody', cursive;
}

.subtitle {
    font-size: 1.5rem;
    font-family: 'Gaegu', cursive;
}

.card {
    margin: 25px 20px 5px 20px;
    width: 200px;
}

.card-content {
    min-width: 200px;
    padding: 0.5rem;
    font-family: 'Hi Melody', cursive;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

.card-coffee {
    font-size: 2.3vh;
    margin-left: 5px;
    font-weight: bold;
}

.card-like {
    font-size: 13px;
    font-weight: bold;
    /*text-align: right;*/
    margin-left: 10px;
}

.tile {
    background-color: white;
}

.white {
    color: white;
}

.main-title {
    width: 70%;
}
