<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <meta property="og:title" content="오늘의 커피"/>
    <meta property="og:description" content="가장 맛있는 스타벅스 메뉴를 추천해드립니다."/>
    <!--    font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&family=Hi+Melody&display=swap" rel="stylesheet">
    <!-- import base.js -->
    <script src="{{ url_for('static',filename='base.js') }}"></script>
    {#   <style> #}
    <link rel="stylesheet" href="{{ url_for('static',filename='mystyle.css') }}">
    {#  타이틀 정보  #}
    <title>{% block title %}{% endblock %}</title>

    {# 자식 템플렛 해드 정보들 받기 #}
    {% block head %}
    {% endblock %}
    {# 자식 템플렛 해드 정보들 받기 끝 #}
</head>
<body>
{# 자식 템플렛 바디 정보들 받기 #}
{% block content %}
{% endblock %}
{# 자식 템플렛 바디 정보들 받기 끝 #}
</body>
</html>