{# 부모 템플렛 정보 가져오기 #}
{% extends 'base.html' %}
{# 타이틀 넘김 #}
{% block title %} 메인 | 오늘의 커피 {% endblock %}
{# 타일틀 넘김 끝 #}
{# 헤더 정보 넘김 #}
{% block head %}
    {{ super() }}
{% endblock %}
{# 헤더 정보 넘김 끝 #}
{# 바디 정보 넘김 #}
{% block content %}
    <div class="wrap">

        {# banner #}
        <section class="hero is-bold is-medium">
            <div class="buttons are-midium login">
                {% if (nickname == "") %}
                    <button class="button is-outlined is-light" onclick="window.location.href='/login'">로그인</button>
                {% else %}
                    <button class="button is-outlined is-light" onclick="deleteToken()">로그아웃</button>
                {% endif %}
            </div>
            <div class="hero-body">
                <div class="container">
                    <h1 class="title white main-title" onclick="window.location.href='/'" style="cursor:pointer">
                        오늘의 커피
                    </h1>
                    <h2 class="subtitle white">
                        가장 맛있는 스타벅스 메뉴를 추천해드립니다.
                    </h2>
                </div>
            </div>
        </section>

        {# 검색 폼 #}
        <input class="input search" type="text" onkeyup="filter()" id="value" placeholder="검색할 커피 메뉴를 입력하세요.">

        {# coffee image start #}
        <div class="columns is-mobile is-multiline is-centered" id="coffee">
            {% for coffee in coffees %}
                <div class="card" style="cursor:pointer"
                     onclick="window.location.href='/detail/{{ coffee.product_id }}'">
                    <div class="card-image">
                        <figure class="image is-1by1">
                            <img src="{{ coffee.img_url }}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media ">
                            <div class="media-content">
                                <p class="card-title">{{ loop.index }}등</p>
                                <p class="card-coffee">{{ coffee.name }}</p>
                                <p class="card-like">
                                    <span style="color: dodgerblue">좋아요 {{ coffee.like }}개</span>
                                    <span style="color: darkgrey"> | </span>
                                    <span style="color: indianred">싫어요 {{ coffee.dislike }}개</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </section>
    </div>
{% endblock %}
{# 바디 정보 끝 #}

