<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Login | 오늘의 커피</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <meta property="og:title" content="오늘의 커피"/>
    <meta property="og:description" content="이용자들이 추천한 커피를 보여드립니다!"/>

    <!--    font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&family=Hi+Melody&display=swap" rel="stylesheet">

    <!--    style-->
    <style>
        * { /*border: 1px solid black;*/
        }

        .wrap {
            max-width: 800px;
            margin: auto;
        }

        .hero {
            background-color: darkgray;
            background-image: url("../static/background.jpg");
            background-position: top;
            background-size: revert;
        }


        .section {
            width: 600px;
            max-width: 100vw;
            margin: auto;
        }

        .login {
            display: block;
            margin: 20px 5vw 0 auto;

        }

        .hero-body {
            padding: 1rem 0.5rem 4rem 1.5rem;
        }

        .hero.is-medium .hero-body {
            padding: 1rem 1.5rem 5rem 1.5rem;
        }

        .title {
            font-size: 3.5rem;
            font-family: 'Hi Melody', cursive;
        }

        .subtitle {
            font-size: 1.5rem;
            font-family: 'Gaegu', cursive;
        }

        .card {
            margin: 30px;
        }

        .card-content {
            min-width: 200px;
            padding: 0.5rem;
            font-family: 'Hi Melody', cursive;
        }

        .card-title {
            font-size: 16px;
            font-weight: bold;
            margin-left: 10px;
        }

        .card-coffee {
            font-size: 25px;
            margin-left: 5px;
            font-weight: bold;
        }

        .card-like {
            font-size: 13px;
            font-weight: bold;
            /*text-align: right;*/
            margin-left: 10px;
        }

        .tile {
            background-color: white;
        }

        .white {
            color: white;
        }

    </style>

    <!--    js-->
    <script>
        function register() {
            let username = $("#input-username").val()
            let password = $("#input-password").val()
            let nickname = $("#input-nickname").val()
            let password2 = $("#input-password2").val()


            if ($("#help-id").hasClass("is-danger")) {
                alert("아이디를 다시 확인해주세요.")
                return;
            } else if (!$("#help-id").hasClass("is-success")) {
                alert("아이디 중복확인을 해주세요.")
                return;
            }

            if (password == "") {
                $("#help-password").text("비밀번호를 입력해주세요.").removeClass("is-safe").addClass("is-danger")

                $("#input-password").focus()
                return;
            } else if (!is_password(password)) {
                $("#help-password").text("비밀번호의 형식을 확인해주세요. 영문과 숫자 필수 포함, 특수문자(!@#$%^&*) 사용가능 8-20자").removeClass("is-safe").addClass("is-danger")
                $("#input-password").focus()
                return
            } else {
                $("#help-password").text("사용할 수 있는 비밀번호입니다.").removeClass("is-danger").addClass("is-success")
            }
            if (nickname == "") {
                $("#help-nickname").text("닉네임을 입력해주세요.").removeClass("is-safe").addClass("is-danger")
                $("#input-nickname").focus()
                return
            } else {
                $("#help-nickname").text("멋진 닉네임이네요!").removeClass("is-danger").addClass("is-success")
            }
            if (password2 == "") {
                $("#help-password2").text("비밀번호를 입력해주세요.").removeClass("is-safe").addClass("is-danger")
                $("#input-password2").focus()
                return;
            } else if (password2 != password) {
                $("#help-password2").text("비밀번호가 일치하지 않습니다.").removeClass("is-safe").addClass("is-danger")
                $("#input-password2").focus()
                return;
            } else {
                $("#help-password2").text("비밀번호가 일치합니다.").removeClass("is-danger").addClass("is-success")
            }
            $.ajax({
                type: "POST",
                url: "/sign_up/save",
                data: {
                    username_give: username,
                    password_give: password,
                    nickname_give: nickname
                },
                success: function (response) {
                    alert("회원가입을 축하드립니다!")
                    window.location.replace("/login")
                }
            });

        }

        function is_nickname(asValue) {
            var regExp = /^(?=.*[a-zA-Z])[-a-zA-Z0-9_.]{2,10}$/;
            return regExp.test(asValue);
        }

        function is_password(asValue) {
            var regExp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{8,20}$/;
            return regExp.test(asValue);
        }

        function check_nick() {
            let nickname = $("#input-nickname").val()
            if (nickname == "") {
                $("#help-nick").text("닉네임을 입력해주세요").removeClass("is-safe").addClass("is-danger")
            }

            $.ajax({
                type: "POST",
                url: "/sign_up/check_nick",
                data: {
                    nickname_give: nickname
                },
                success: function (response) {
                    if (response["nickexists"]) {
                        $("#help-nick").text("이미 존재하는 닉네임입니다.").removeClass("is-safe").addClass("is-danger")
                        $("#input-nickname").focus()
                    } else {
                        $("#help-nick").text("멋진 닉네임입니다!").removeClass("is-danger").addClass("is-success")
                    }


                }
            });


        }


        function check_dup() {
            let username = $("#input-username").val()
            console.log(username)
            if (username == "") {
                $("#help-id").text("아이디를 입력해주세요.").removeClass("is-safe").addClass("is-danger")
                $("#input-username").focus()
                return;
            }
            if (!is_nickname(username)) {
                $("#help-id").text("아이디의 형식을 확인해주세요. 영문과 숫자, 일부 특수문자(._-) 사용 가능. 2-10자 길이").removeClass("is-safe").addClass("is-danger")
                $("#input-username").focus()
                return;
            }
            $("#help-id").addClass("is-loading")

            $.ajax({
                type: "POST",
                url: "/sign_up/check_dup",
                data: {
                    username_give: username
                },
                success: function (response) {
                    if (response["exists"]) {
                        $("#help-id").text("이미 존재하는 아이디입니다.").removeClass("is-safe").addClass("is-danger")
                        $("#input-username").focus()
                    } else {
                        $("#help-id").text("사용할 수 있는 아이디입니다.").removeClass("is-danger").addClass("is-success")
                    }
                    $("#help-id").removeClass("is-loading")

                }
            });
        }

        function cancel() {
            window.location.href = "/login"
        }
    </script>

    <!--</head>-->
<body>
<div class="wrap">
    <section class="hero is-bold is-medium">
        <div class="buttons are-midium login">
            <button class="button is-outlined is-light" onclick="window.location.href='/login'">로그인</button>
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title white" onclick="window.location.href='/'" style="cursor:pointer">
                    오늘의 커피 - <small>회원가입 페이지</small>
                </h1>
                <h2 class="subtitle white">
                    맛있는 커피를 추천해드립니다.
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="box" style="max-width: 480px;margin:auto">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <div class="field has-addons">
                                <div class="control has-icons-left" style="width:100%">
                                    <input id="input-nickname" class="input" type="text" placeholder="닉네임">
                                    <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                                </div>
                                <div id="btn-check-dup" class="control">
                                    <button class="button is-sparta" onclick="check_nick()">중복확인</button>
                                </div>
                            </div>
                            <p id="help-nick" class="help">닉네임을 입력해주세요.</p>
                            <p id="help-nick-login" class="help is-danger"></p>

                            <div class="field has-addons">
                                <div class="control has-icons-left" style="width:100%">
                                    <input id="input-username" class="input" type="text" placeholder="아이디">
                                    <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                                </div>
                                <div id="btn-check-dup" class="control">
                                    <button class="button is-sparta" onclick="check_dup()">중복확인</button>
                                </div>

                            </div>
                            <p id="help-id" class="help">아이디는 2-10자의 영문과 숫자와 일부 특수문자(._-)만 입력 가능합니다.</p>
                            <p id="help-id-login" class="help is-danger"></p>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input id="input-password" class="input" type="password" placeholder="비밀번호">
                                    <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                                </div>
                                <p id="help-password" class="help">영문과 숫자 조합의 8-20자의 비밀번호를 설정해주세요.
                                    특수문자(!@#$%^&amp;*)도 사용 가능합니다.</p>
                                <p id="help-password-login" class="help is-danger"></p>

                            </div>

                        </div>
                        <div id="div-sign-in-or-up" class="has-text-centered">

                            <div id="sign-up-box">
                                <div class="mb-5">
                                    <div class="field">
                                        <div class="control has-icons-left" style="width:100%">
                                            <input id="input-password2" class="input" type="password"
                                                   placeholder="비밀번호 재입력">
                                            <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                                        </div>
                                        <p id="help-password2" class="help is-hidden">비밀번호를 다시 한 번 입력해주세요.</p>

                                    </div>
                                </div>
                                <nav class="level is-mobile">
                                    <button class="level-item button is-sparta" onclick="register()">
                                        회원가입
                                    </button>
                                    <button class="level-item button is-sparta is-outlined" onclick="cancel()">
                                        취소
                                    </button>
                                </nav>
                            </div>

                        </div>
                </article>
            </div>

        </div>
    </section>
</div>
</body>
</html>


